<launch>
  <group ns="/narrow/left" clear_params="true">
    <node name="pose_visualizer" pkg="checkerboard_detector2" type="pose_visualizer.py" output="screen"/>
    <node pkg="checkerboard_detector2" type="checkerboard_detector2" respawn="false"
    name="checkerboard_detector">
      <param name="display" type="int" value="1"/>
      <param name="rect0_size_x" type="double" value="0.016"/>
      <param name="rect0_size_y" type="double" value="0.016"/>
      <param name="grid0_size_x" type="int" value="4"/>
      <param name="grid0_size_y" type="int" value="5"/>
    </node>
  </group>


</launch>
