<launch>
  <node
     pkg="hueblob"
     type="hueblob_node"
     name="hueblob_node_narrow"
     respawn="true">
    <param name="stereo" value="/narrow" />
    <param name="models" value="/home/nddang/src/ros/hueblob/data/models.yaml" />
    <param name="approximate_sync" value="True" />
    </node>

  <node
     pkg="hueblob"
     type="hueblob_node"
     name="hueblob_node_wide"
     respawn="true">
    <param name="stereo" value="/wide" />
    <param name="models" value="/home/nddang/src/ros/hueblob/data/models.yaml" />
    <param name="approximate_sync" value="True" />
    </node>


</launch>
